<div class="container m-5 p-5">
    <div class="row mt-4 text-center">
        <h1>ABOUT ME</h1>
    </div>
    <div class="row mt-4">
        <div class="col-lg-10">
            <p class="title">I'm <span class="name">Bacsa József</span>, Frontend Developer</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima aliquid autem soluta commodi qui, tenetur placeat reprehenderit sit molestiae id sunt, eveniet exercitationem totam facere omnis modi cupiditate eaque ullam.</p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                div.col-md-8
            </div>
        </div>
        <div class="col-md-4">
            <p class="fw-bold">What i Do?</p>
        </div>
    </div>
</div>
