<div class="container-fluid d-flex align-items-center justify-content-center">
  <div class="container pt-2 ps-5 pe-5">
    <div class="row mt-4 text-center">
      <h1>ABOUT ME</h1>
    </div>
    <div class="row mt-4">
      <div class="col-lg-10">
        <p class="title">
          I'm <span class="name">Bacsa József</span>, Frontend Developer
        </p>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima
          aliquid autem soluta commodi qui, tenetur placeat reprehenderit sit
          molestiae id sunt, eveniet exercitationem totam facere omnis modi
          cupiditate eaque ullam.
        </p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-4 text-center">
          <p>1 Yers experience</p>
      </div>
      <div class="col-md-4 text-center">
        <p>10+</p>
        <span>Projects done</span>
      </div>
      <div class="col-md-3">
        <h4>What I do?</h4>

      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-4 text-center">
          <p>1 Yers experience</p>
      </div>
      <div class="col-md-4 text-center">
        <p>10+</p>
        <span>Projects done</span>
      </div>

    </div>

    <!-- OLDS IDEA -->
    <!-- <div class="row text-center">
            <div class="col-md-3 col-lg-3">
              <flip-card>
                <flip-card-front>
                    <fa-icon [icon]="faAngular"></fa-icon>
                </flip-card-front>
                <flip-card-back>
                  <h2>this is card back</h2>
                </flip-card-back>
              </flip-card>
            </div>
            <div class="col-md-3 col-lg-3">
              <flip-card>
                <flip-card-front>
                    <fa-icon [icon]="faGithub"></fa-icon>
                </flip-card-front>
                <flip-card-back>
                  <h2>this is card back</h2>
                </flip-card-back>
              </flip-card>
            </div>
            <div class="col-md-3 col-lg-3">
              <flip-card>
                <flip-card-front>
                    <fa-icon [icon]="faReact"></fa-icon>
                </flip-card-front>
                <flip-card-back>
                  <h2>this is card back</h2>
                </flip-card-back>
              </flip-card>
            </div>
            <div class="col-md-3 col-lg-3">
              <flip-card>
                <flip-card-front>
                    <fa-icon [icon]="faBootstrap"></fa-icon>
                </flip-card-front>
                <flip-card-back>
                  <h2>this is card back</h2>
                </flip-card-back>
              </flip-card>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3 col-lg-3">
              <flip-card>
                <flip-card-front>
                    <fa-icon [icon]="faNode"></fa-icon>
                </flip-card-front>
                <flip-card-back>
                  <h2>this is card back</h2>
                </flip-card-back>
              </flip-card>
            </div>
            <div class="col-md-3 col-lg-3">
              <flip-card>
                <flip-card-front>
                    <fa-icon [icon]="faSass"></fa-icon>
                </flip-card-front>
                <flip-card-back>
                  <h2>this is card back</h2>
                </flip-card-back>
              </flip-card>
            </div>
            <div class="col-md-3 col-lg-3">
              <flip-card>
                <flip-card-front>
                    <fa-icon [icon]="faJs"></fa-icon>
                </flip-card-front>
                <flip-card-back>
                  <h2>this is card back</h2>
                </flip-card-back>
              </flip-card>
            </div>
            <div class="col-md-3 col-lg-3">
              <flip-card>
                <flip-card-front>
                    <fa-icon [icon]="faCss"></fa-icon>
                </flip-card-front>
                <flip-card-back>
                  <h2>this is card back</h2>
                </flip-card-back>
              </flip-card>
            </div>
        </div> -->
  </div>
</div>
