<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12 vh-100 d-flex align-items-center">
            <div class="container">
                <h4 >HI THERE!</h4>
                <h1>I'M <span class="jozsef">JÓZSEF</span></h1>
                <span class="frontend">FRONTEND DEVELOPER</span>
                <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos vitae molestiae quo earum a aperiam eaque? Rerum, ab itaque officiis ratione impedit iusto, quam eveniet dolorem vitae quas soluta modi?</p>

            
                <a class="aboutMe text-white mt-5"  routerLink="../home/aboutme">MORE ABOUT ME</a>
            </div>
            
        </div>
        <div class="col-lg-6 col-sm-12 vh-100 d-none d-md-block">
            <img [src]="profile" alt="profile">
        </div>
    </div>
</div>
