
<div class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8 vh-100 d-flex align-items-center">
            <div class="container">
                <div class="profile mx-auto">
                   
                </div>
                <h4>HI THERE, I'M <span class="jozsef">JÓZSEF</span></h4>
                <h1 class="frontend">FRONT-END DEVELOPER</h1>
                <p class="mt-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos vitae molestiae quo earum
                    a aperiam eaque? Rerum, ab itaque officiis ratione impedit iusto, quam eveniet dolorem vitae quas
                    soluta modi?</p>
                <a class="aboutMe text-white" routerLink="../home/aboutme">MORE ABOUT ME</a>
            </div>
        </div>
    </div>
</div>