div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img{
    max-width: 20%;
  }

  @media screen and (max-width: 760px) {
    img{
      max-width: 50%;
    }
  }
}

